.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #003E4D;
  text-align: center;
}
.container{
  margin: auto;
  width: 50%;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
  padding: 0 20px 20px;
}
.titleContainer{
  background-color: #003E4D;
  border-radius: 10px;
  padding: 1;
}
.NumberInputs {
  display: flex;
  width: 100%;
  align-self: center;
  margin-bottom: 20px;
}
.Operations {
  display: flex;
  width: 100%;
  align-self: center;
  gap: 10px;
  margin-top: 10px;
}
h1{
  color: #003E4D;
}
.titleText{
  color: #fff;
}
button {
  width:100%;
  padding: 10px 20px;
  margin: 5px;
  font-size: 20px;
  background-color: #003E4D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  color: #003E4D;
  margin: 5px ;
  font-size: 16px ;
  font: 1.2em "Fira Sans", sans-serif;
  border-radius: 5px;
}

  @media (max-width: 900px) {
    input {
      margin-bottom: 5px;
    }
    .Operations {
      display: inline-block;
    }
  
  }
